.dark {
  background-color: black;
  color: white;
}

.dark button {
  border-color: white;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* max-width: 100px; */
  flex-wrap: wrap;
}

.trainerContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 500px) {
  .trainerContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

#trainerForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 200px;
  gap: 0.1em;
}